#main-header {
  background-color: #fff;
  height: 72px;
  border-bottom: 1px solid #DDD;
  display: flex;
  justify-content: space-between;
}
.header-content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
